<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortly</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-route.min.js"></script>
  </head>

  <body ng-app="MyApp">
    <h1>Shortly</h1>
    <ng-view></ng-view>
    <%- body -%>
  </body>
</html>
