<input ng-model="searchText" placeholder="Search for keywords">
<ul>

  <button ng-click="createdAtSort()">created at</button>
  <button ng-click="titleSort()">title</button>
  <button ng-click="visitsSort()">visit</button>
  <li ng-repeat="link in links | orderBy:sortParam | filter:searchText" class="link">
    <img src='/redirect_icon.png'/>
    <div class='info'>
      <div class='visits'><span class='count'>{{ link.visits }}</span>Visits</div>
      <div class='title'>{{ link.title }}</div>
      <div class='original'>{{ link.url }}</div>
      <a href='{{ link.base_url }}/{{ link.code }}'>{{ link.base_url }}/{{ link.code }}</a>
    </div>
  </li>
</ul>
